* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(static/BGI.png);
}

.top {
    display: flex;
}

.top_left-block {
    width: 700px;
    height: 300px;
    border: solid 1.5px rgb(107, 135, 23);
}

.top_right-block {
    width: 700px;
    height: 300px;

    border: solid 1.5px rgb(107, 135, 23);
}

.bottom {
    display: flex;
}

.bottom_left {
    width: 700px;
    height: 300px;

    border: solid 1.5px rgb(107, 135, 23);
}

.bottom-right {
    width: 700px;
    height: 300px;
    border: solid 1.5px rgb(107, 135, 23);
}

.top_block-name {
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(0, 128, 255);
    text-align: center;
}

.top_block-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top-input1 {
    border: solid 2.5px rgb(59, 198, 203);
    border-radius: 12px;
    width: 250px;
    height: 30px;
    text-align: center;
}

.top-input2 {
    border: solid 2.5px rgb(59, 198, 203);
    border-radius: 12px;
    width: 250px;
    height: 30px;
    text-align: center;
}

.top_block-btn {
    width: 180px;
    height: 30px;
    border: solid 2px rgb(212, 182, 9);
    border-radius: 15px;
    background-color: rgb(159, 181, 222);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.top_block-btn:active {
    background-color: rgb(0, 238, 194);
}

.top_block-btn:hover {
    background-color: rgb(77, 130, 236);
    transition: all 0.3s ease-in-out;
}

.bottom_block-name {
    margin-top: 10px;
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(0, 128, 255);
    text-align: center;
}

.item1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 180px;
}

.item_tema {
    display: flex;
    gap: 200px;
    justify-content: center;
    text-align: center;
}

.item-tema1 {
    font-size: 10px;
    font-family: sans-serif;
    color:rgb(0, 68, 24);
}

.img1 {
    width: 25px;
    height: 25px;
}

.logolar {
    display: flex;
    align-items:center;
    gap: 30px;
}

.ora1 {
    display: flex;
    gap: 50px;
}

.name1 {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}